.container {
    position: relative;
}
.container svg {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    color: gray;
}

.container svg:hover {
    color:white
}

.categories {
    margin-block-start:0;
}

.categories li{
    list-style: none;
    height: 2rem;
}

